.error1 {
  width: 200px;
  color: white;
  height: 200px;
  margin: 0 auto;
  margin-top: 4em;
  padding-top: 2.2em;
  background-color: $mainAccent;
  border-radius: 100%;
  text-align: center;
}

.error2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4em;

}
