$mainAccent: #79BD8F;


body {
  margin-top: 50px;
}

* {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {

  }
  &:visited {
    color: inherit;
  }
}

.navbar {
  background-color: white;
  color: $mainAccent;
  font-size: 1.4em;
  .navbar-brand {
    font-size: 2em;
  }
  }


p {
  font-size: 1.3em;
}
