/* \$mainAccent: #79BD8F; */
$mainAccent: #9eb77b;
$mainAccentLight: #cfdbbd;
$mainAccentFont: #464f38;

//font-family: 'Rosario', sans-serif;
//font-family: 'Source Sans Pro', sans-serif;

$font-main: 'Source Sans Pro', sans-serif;
$font-headlines: 'Rosario', sans-serif;



body {
  margin-top: 60px;
}


* {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
}

a {
  font-family: $font-main;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
}

.navbar {
  background-color: white;
  color: $mainAccent;
  font-family: $font-main;
  font-size: 1.5em;
  a:visited {
    color: $mainAccent;
  }
  .navbar-brand {
    font-size: 2em;
    img {
      height: 100px;
      margin-top: -30px;
    }
  }
}

.navbar-fixed-top {
  top: 0;
  padding-top: 25px;
  padding-bottom: 30px;
}

h1,h2 {
  font-family: $font-headlines;
}

p, input, label {
  font-family: $font-main;
  font-size: 1.3em;
}
