/* \$mainAccent: #79BD8F; */
$mainAccent: #9eb77b;
$mainAccentLight: #cfdbbd;
$mainAccentFont: #464f38;




body {
  margin-top: 60px;
}

* {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
}

.navbar {
  background-color: white;
  color: $mainAccent;
  font-size: 1.4em;
  .navbar-brand {
    font-size: 2em;
    img {
      height: 100px;
      margin-top: -30px;
    }
  }
}

.navbar-fixed-top {
  top: 0;
  padding-top: 25px;
}


p {
  font-size: 1.3em;
}
