.angular-google-map {
  display: block;
}
.angular-google-map-container {
  height: 100vh;
  width:100%;
  margin: 0 auto;
}

.mapWindow {
  font-size:1em;
  width: 300px;
  border-radius: 5px;
  img {
    max-width: 90%;
    margin: 1em auto;
    border-radius: 100%;
  }
  .mapVenueDetail {
    h3 {
      text-align: center;
      color: $mainAccent;
    }
    p {
      line-height: 1;
    }
  }
}
