.resources {
  min-height: 400px;
  padding: 4em;
  margin-top: 2em;
  border: thin solid $mainAccent;
  border-radius: 1em;
  background-color: $mainAccentLight;

  h2 {
    padding-bottom: 1.5em;
  }
ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-bottom: 1em;
}
  li {

  font-size: 1.3em;

  }
  .otherResBtn {
    color: $mainAccent;
    background-color: white;
    font-size: 1em;
    margin-bottom: 0.5em;
    &:hover {
      color: white;
      background-color: $mainAccent;
      border: none;
    }
  }
}
