.suggestions {
  min-height: 400px;
  padding: 3em;
  margin-top: 2em;
  border: thin solid $mainAccent;
  border-radius: 1em;
  background-color: $mainAccentLight;

  h2 {
    padding-bottom: 0.5em;
  }

  .btn {
    color: white;
    background-color: $mainAccent;
    font-size: 1em;
    margin-bottom: 0.5em;
    &:hover {
      color: $mainAccent;
      background-color: white;
      border: $mainAccent;
    }
  }
}
