.userslogin {
  min-height: 400px;
  padding: 40px;
  border: thin solid $mainAccent;
  border-radius: 1em;
  background-color: $mainAccentLight;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.userss {
  margin-top: 40px;
}

.userssignup {
  min-height: 400px;
  padding: 40px;
  border: thin solid $mainAccent;
  border-radius: 1em;
  background-color: $mainAccentLight;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.signups {
  margin-top: 40px;
}