

<div class="container containerListFave" ng-controller="FavoritesController as faveCtrl">
  <ul>
    <li class="row" ng-repeat="venue in faveCtrl.venues">
      <div class="col-md-4">
        <img data-ng-src={{venue.image}} alt="">
      </div>
      <div class="col-md-6">

        <h3>{{venue.name}}</h3>
        <p>{{venue.short_description}}</p>

      </div>
      <div class="col-md-2">
        <a href="#/details/{{venue.venue_id}}" class="btn btn-default">More Details</a>
        <a type = "submit" ng-click="faveCtrl.deleteFavoriteVenue(venue)" href="" class="btn btn-default">Remove from Favorites</a>

      </div>
    </li>
  </ul>

</div>
