
<div class="container">
<h3>Search kids venues<span class="searchbox-wrapper">
  <input ng-model="query" type="text" name="searchbox" placeholder="search">
</h3>
<!-- <div class="angular-google-map-container" ng-controller="UserController as userCtrl"> -->
<ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <div >

<ui-gmap-marker
  data-ng-repeat="venue in userCtrl.venues | filter:query as results"
  idkey="venue.id"
  coords="venue.coords"
  >

    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
      <div class="mapWindow">
        <img data-ng-src={{venue.image}} alt=""/>
        <div class="mapVenueDetail">
          <h3>{{venue.name}}</h3>
          <p>{{venue.address_one}}</p>
          <p>{{venue.address_two}}</p>
          <p>{{venue.city}}, SC</p>
          <p>{{venue.zip}}</p>
          <p>{{venue.short_description}}</p>
          <a class = "website btn btn-default" target="_blank" href="{{venue.website_url}}" class="btn btn-default">Website</a>

        </div>
      </div>
    </ui-gmap-window>
  </ui-gmap-marker>
</div>
</ui-gmap-google-map>
</div>
<!-- </div> -->
