
<div class="container container-suggestForm">


<div class="row">
  <div class="col-md-10 col-md-offset-1 suggestions">

<h2>Have a suggestion for a venue?</h2>
<h2>Are you a business owner who would like to list your venue?</h2>
<h3>Contact us:</h3>

  <form name="helpForm" ng-submit="submitForm(helpForm.$valid)" novalidate role="form">
    <div class="form-group" ng-class="{ 'has-error' : helpForm.name.$invalid && !helpForm.name.$pristine && submitted}">
      <label for="name">Your Name </label>
      <input type="text" name="name" data-ng-model="name" class="form-control" required />
      <p ng-show="helpForm.name.$invalid && !helpForm.name.$pristine && submitted" class="help-block">Name required</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : helpForm.email.$invalid && !helpForm.email.$pristine && submitted}">
      <label for="email">Your E-mail address</label>
      <input type="email" name="email" data-ng-model="email" class="form-control" required />
      <p ng-show="helpForm.email.$invalid && !helpForm.email.$pristine && submitted" class="help-block">Valid e-mail required</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : helpForm.suggestions.$invalid && !helpForm.suggestions.$pristine && submitted}">
      <label for="suggestions">Your suggestion</label>
      <textarea rows="4" name="suggestions" data-ng-model="suggestions" class="form-control" required></textarea>
      <p ng-show="helpForm.suggestions.$invalid && !helpForm.suggestions.$pristine && submitted" class="help-block">Enter your suggestion</p>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
    </div>
  </div>
</div>
